.App {
    text-align: center;
}

.container {
    display: flex;
    margin-top: 20px;
}

.my-tasks {
    background-color: aqua;
    width: 30vw;
    padding: 20px 20px;
}

.todos_list {
    background-color: rgb(0, 255, 64);
    width: 30vw;
    padding: 20px 20px;
}

.complete {
    background-color: rgb(37, 143, 204);
    width: 30vw;
    padding: 20px 20px;
}

ul {
    list-style-type: none;
}